name: dev and prod terraform reusable workflow

on:
    release:
        types: [published]


jobs:
  deploy-dev-prod-reusable:

     uses: ./.github/workflows/terraform_deployment.yaml
     with:
          environment: prod

     secrets:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
